@mixin breakpoint($media) {
  $phones:  "only screen and (min-width: 320px)";
  $mobileL: "only screen and (min-width: 480px)";
  $tablets: "only screen and (min-width: 768px)";
  $nine: "only screen and (min-width: 900px)";
  $ten: "only screen and (min-width: 1024px)";
  $twelve: "only screen and (min-width: 1200px)";
  $fourteen: "only screen and (min-width: 1440px)";
  $sixteen: "only screen and (min-width: 1680px)";
  $nineteen: "only screen and (min-width: 1920px)";
  $handheld-size: "only screen and (max-width: 480px)";
  $wide-handheld-size: "only screen and (min-width: 481px) and (max-width: 767px)";
  $tablet-small-size: "only screen and (min-width: 768px) and (max-width: 800px)";
  $tablet-small-size-landscape: "only screen and (min-width: 768px) and (max-width: 800px) and (orientation: landscape)";
  $tablet-size: "only screen and (min-width: 801px) and (max-width: 1024px)";
  $tablet-size-landscape: "only screen and (min-width: 801px) and (max-width: 1024px) and (orientation: landscape)";
  $desktop-small-size: "only screen and (min-width: 1025px) and (max-width: 1430px)";
  $all-mobile-sizes: "only screen and (max-width: 1024px)"; /*from tablets to phones*/


  @if $media == phones { @media #{$phones}{ @content; } }
  @if $media == mobileL { @media #{$mobileL}{ @content; } }
  @if $media == tablets { @media #{$tablets}{ @content; } }
  @if $media == nine { @media #{$nine}{ @content; } }
  @if $media == ten { @media #{$ten}{ @content; } }
  @if $media == twelve { @media #{$twelve}{ @content; } }
  @if $media == fourteen { @media #{$fourteen}{ @content; } }
  @if $media == sixteen { @media #{$sixteen}{ @content; } }
  @if $media == nineteen { @media #{$nineteen}{ @content; } }
  @if $media == handhelds {
    @media #{$handheld-size}{ @content; }
  }
  @else if $media == handhelds-landscape {
    @media  #{$handheld-landscape-size} { @content; }
  }
  @else if $media == wide-handhelds {
    @media  #{$wide-handheld-size} { @content; }
  }
  @else if $media == wide-handhelds-landscape {
    @media  #{$wide-handheld-landscape-size} { @content; }
  }
  @else if $media == tablets {
    @media #{$tablet-size} { @content; }
  }
  @else if $media == tablets-landscape {
    @media #{$tablet-size-landscape} { @content; }
  }
  @else if $media == tablets-small {
    @media #{$tablet-small-size} { @content; }
  }
  @else if $media == tablets-small-landscape {
    @media #{$tablet-small-size-landscape} { @content; }
  }
  @else if $media == all-mobile-devices{
    @media #{$all-mobile-sizes} { @content;}
  }
  @else if $media == desktops-small {
    @media #{$desktop-small-size} { @content; }
  }
}

// Font-size Mixin
@mixin font-size($sizeValue: 2.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Font Mixin
@mixin font($size,$weight,$color) {
  font: {
    weight: $weight;
  }
  @include font-size($size);
  color: $color;
  line-height: 1;
}

@mixin font-family($family) {
  font: {
    family: $family;
  }
}

// Animation for Explore Founders/Signature}
@-webkit-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


//@-webkit-keyframes fade-right {
//  0%   { opacity: 0; }
//  100% { opacity: 1; }
//}
//@-moz-keyframes fade-left {
//  0%   { opacity: 0; }
//  100% { opacity: 1; }
//}
//@-o-keyframes fade-left {
//  0%   { opacity: 0; }
//  100% { opacity: 1; }
//}
//@keyframes fade-left {
//  0%   { opacity: 0; }
//  100% { opacity: 1; }
//}