

//fonts
@font-face{
  font-family:"ArquitectaOffice W00 Regular";
  src:url("fonts/f5e1a900-38f3-4319-ab73-dcbb662c9fcb.eot?#iefix");
  src:url("fonts/f5e1a900-38f3-4319-ab73-dcbb662c9fcb.eot?#iefix") format("eot"),url("fonts/84660bb0-b591-4ae6-b119-fd2be7f0a5ee.woff2") format("woff2"),url("fonts/d79c6f14-d751-4a88-b597-78549a0a3c7f.woff") format("woff"),url("fonts/1f3f8d66-3ade-42b3-a2fe-6bd8ff35ffde.ttf") format("truetype"),url("fonts/f41379b3-496d-48b9-bd6d-7eab01667d60.svg#f41379b3-496d-48b9-bd6d-7eab01667d60") format("svg");
}
@font-face{
  font-family:"ArquitectaOffice W00 Bold";
  src:url("fonts/e6a39653-a345-4332-b55a-83448ba00452.eot?#iefix");
  src:url("fonts/e6a39653-a345-4332-b55a-83448ba00452.eot?#iefix") format("eot"),url("fonts/d9c5d9e7-8083-43d2-a76f-71a5db2390fc.woff2") format("woff2"),url("fonts/b1f9e480-207b-4c49-b89f-a117594ce9ce.woff") format("woff"),url("fonts/e742f8f8-6567-45bb-9ff1-105fda5d1649.ttf") format("truetype"),url("fonts/f54c3c0c-a309-47ef-8a62-5b32de86292b.svg#f54c3c0c-a309-47ef-8a62-5b32de86292b") format("svg");
}
@font-face{
  font-family:"Proxima N W01 Light";
  src:url("fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
  src:url("fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("fonts/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),url("fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}
@font-face{
  font-family:"Proxima N W01 Reg";
  src:url("fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
  src:url("fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face{
  font-family:"Proxima N W01 Smbd";
  src:url("fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
  src:url("fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("fonts/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),url("fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}
@font-face{
  font-family:"Proxima N W01 Bold";
  src:url("fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
  src:url("fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("fonts/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}

@font-face {
  font-family:"Neutraface Book";
  src: url("fonts/NeutrafaceText-Book.woff2") format("woff2"),
  url("fonts/NeutrafaceText-Book.woff") format("woff");
  font-style:normal;
  font-weight:400;
  font-stretch:normal;
}

@font-face {
  font-family:"Neutraface Bold";
  src: url("fonts/NeutrafaceText-Bold.woff2") format("woff2"),
  url("fonts/NeutrafaceText-Bold.woff") format("woff");
  font-style:normal;
  font-weight:700;
  font-stretch:normal;
}

$neutraMain:"Neutraface Book";
$neutraBold:"Neutraface Bold";

$proxiLight: "Proxima N W01 Light";
$proxiReg: "Proxima N W01 Reg";
$proxiBold: "Proxima N W01 Bold";
$headlineFont: "ArquitectaOffice W00 Regular";



// ICONS HERE

@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?521sct');
  src:  url('icons/icomoon.eot?521sct#iefix') format('embedded-opentype'),
  url('icons/icomoon.ttf?521sct') format('truetype'),
  url('icons/icomoon.woff?521sct') format('woff'),
  url('icons/icomoon.svg?521sct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brompton-house-full:before {
  content: "\e900";
}
.icon-brompton-house:before {
  content: "\e901";
}
.icon-MURN-Management_K:before {
  content: "\e902";
}
.icon-eho:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}




